<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 실 API 호출과 식단 사진 업로드에 필수. 여태 debug/profile 매니페스트에만 있어서
         릴리스 빌드에서는 dio 요청이 전부 막혔다.

         카메라·사진 권한은 일부러 선언하지 않는다. image_picker 는 사진 선택을 시스템
         사진 선택기(Android 13+)나 ACTION_GET_CONTENT 로, 촬영을 ACTION_IMAGE_CAPTURE 로
         넘기기 때문에 런타임 권한이 필요 없다. 특히 CAMERA 를 선언하면 쓰지 않더라도
         플러그인이 촬영 전에 권한을 요구한다(ImagePickerUtils.needRequestCameraPermission).
         앱 안에서 최근 사진 썸네일을 직접 읽는 #1845 를 착수할 때 다시 볼 항목이다. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 앱 데이터를 Google 자동 백업·기기 간 이전에 싣지 않는다(#3049).
         기록·프로필은 서버에 있고 기기에는 세션 토큰·화면 설정·데모 데이터뿐이다.
         토큰 저장소는 Keystore 키로 암호화돼 다른 기기에서는 풀리지 않고, 새 설치
         표식까지 복원되면 새 설치 정리도 건너뛴다. allowBackup=false 는 Android 12+
         기기 간 이전을 막지 못해 data_extraction_rules 로 따로 제외한다.
         fullBackupContent 는 Android 11 이하용이다. -->
    <application
        android:label="On-Care"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 카카오 로그인(#330): 카카오계정 로그인을 마친 브라우저가 `kakao<앱 키>://oauth` 로
             돌아오면 카카오 SDK 가 인가 코드를 받는다. 스킴은 빌드 변수
             KAKAO_NATIVE_APP_KEY 로 build.gradle.kts 가 채운다(없으면 자리표시 스킴). -->
        <activity
            android:name="com.kakao.sdk.flutter.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="${kakaoRedirectScheme}"
                    android:host="oauth" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
